
$color: #000;

body {
    margin: 0;
	background: url('./static/others/pattern-leaves-white.jpg');
}

img {
	display: block;
}


.header {
	height: 300px;
	background: url('static/others/hero.jpg') no-repeat;
	background-size: 100%;
    background-position: 50% 70%;	

} 

.main {
    width: 1200px;
    min-height: 900px;
    padding: 30px 40px;
    border-radius: 10px;
    margin: 20px auto;
    background: #f8eebc;

    .types {
        height: 150px;
        padding: 20px;  
        border-radius: 30px;
        background: #f7f4e5;
        margin-bottom: 50px;    
        display: flex;
        .type {
            width: 100px;
            height: 100px;
            margin: auto;
            background-repeat: no-repeat;
            background-size: cover;
            cursor: pointer;

            &.type-fishes {
                background-image: url('./static/others/fishes.jpg');
            }

            &.type-bugs {
                background-image: url('./static/others/bugs.jpg');
            }

            &.type-fossil {
                background-image: url('./static/others/fossil.jpg');
            }

            &.type-flowers {
                background-image: url('./static/others/flowers.jpg');
            }

            &.type-disc {
                background-image: url('./static/others/disc.jpg');
            }


        }

        
    }
}



.footer {
	height: 240px;
	background: url('./static/others/footer-illustration.svg') no-repeat;
	background-size: cover;
}

.contain {
    display: flex;
    flex-wrap: wrap;
    margin-top: 40px;
    .item {
        box-sizing: border-box;
        text-align: center;
        width: 160px;
        height: 160px;
        padding: 5px;
        border: 1px solid $color;
        border-radius: 4px;
        margin: 0 8px 8px 0;

        .fish_img {
            display: block;
            width: 80px;
            height: 80px;
            margin: 0 auto;
        }
    }
}